<div class="container">
    <div class="row">
      <div class="col-4">
        <%= render 'books/side', users: @user %>
      </div>
      
      <div class="col-8">
        <h1>Books</h1>
        <div>
            <table class="table ml-3 table-hover">
              <dif class="table-head">
                <tr>
                  <th></th>
                  <th>Title</th>
                  <th>opinion</th>
                </tr>
              </dif>
             <% @books.each do |book| %>
               <dif class="table-body">
                 <tr>
                   <tb>
                      <!-- % link_to user_show_path(user.id) do %>-->
                        <%= image_tag @user.get_profile_image(100,100) %>
                      <!-- % end %>-->
                   </tb>
                   <td><%= link_to book.title, book_path(book.id) %></td>
                   <td><%= book.opinion %></td>
                 </tr>
               </dif>
              <% end %>
            </table>
        </div>
      </div>
    </div>
</div>